body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}


.innerBlock {
    isolation: isolate;
    background: linear-gradient(
        90deg, #FF43D1, #429DFF, #71e559, #FFBA42
    );
    background-size: 600% 600%;
    animation: shift 12s ease-in-out infinite;
    width: auto;
    height: 250px;
    padding: 0 40px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    

}

.innerBlock:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    
}

@keyframes shift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

.innerBlock h1 {
    margin: 0;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    mix-blend-mode: difference;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}